.login{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.login__logo {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.login__sigIn{
    width: 300px;
    background-color: white;
}
.login__container{
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-bottom: 20px;
}

.login__signInButton{
    background-color: rgb(17, 53, 255);
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(59, 78, 185);
    color: rgb(3, 10, 35); 
}

.login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login__container > form > h5 {
    margin-bottom: 5px;
}

.login__container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgb(71, 71, 71);
    text-align:justify
}

.login__container > form > p{
    margin-top: 15px;
    font-size: 12px;
    font-weight: 500;
}

.login__signUpPrompt{
    background: white;
    display: flex;
    flex-direction: column;
}
.login__signUpPrompt > p {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: rgb(118,118,118);
  font-size: 12px;
  font-weight: 1000;
}
.login__signUpPrompt > p:before, .login__signUpPrompt > p:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid rgb(231,231,231);
  margin: auto;
  
}
.login__signUpPrompt > p:before {
  margin-right: 10px;
  right: 100%;
}
.login__signUpPrompt > p:after {
  margin-left: 10px;
  left: 100%;
}
.login__registerButton{
    background-color: none;
    border-radius: 2px;
    border: 1px solid;
    color: rgb(3, 10, 35);
    width: 100%;
    height: 30px;
}